
* {
  box-sizing: border-box;
}

body {
  width: 1024px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  display: block;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  margin: 50px 0;
  padding: 10px;

  font-size: 18px;
  color: #444;
}

/* .keyboard {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 800px;
  margin: 0 auto;

  background-color: #9CE5D1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
} */

.keyboard {
  display: flex;
  flex-direction: column;
  text-align: center;

	background-image: linear-gradient(90deg, #888, #ccc);
	border-radius: 0.5em;
	box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 1px #aaa inset;
	
	margin: 3em auto 0 auto;
	padding: 0.25em;

}

.row-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  margin: 0 20px;
}

.row-wrapper:nth-child(1) {
  margin-top: 20px;
}

.row-wrapper:nth-child(5) {
  margin-bottom: 20px;
}

.key-button {
  position: relative;
  vertical-align: top;
  
  background-color: #eee;
	border: 0;
	border-radius: .125em;
	box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, .25), 
		0 0 0 0.04em rgba(0, 0, 0, 0.3), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, .8) inset;
	color: #777;
	font-size: 1em;
	outline: 0;

	appearance: none;
  user-select: none;
  cursor: pointer;
}

.key-button:not(:last-of-type) {
	margin-right: .4em;
}
.key-button:active {
	box-shadow:
		0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
		0 0 0 0.05em rgba(0, 0, 0, 0.4), 
		-0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;
}

/* .key-button  {
	display: inline-block;
}
.key-button {
	margin: auto;
	padding: 0.2em 0.375em;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 0.5em;
	line-height: 2;
	transform: translateY(-50%) scaleX(0.875);
	width: 100%;
} */

.key-small {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 10px;
}

.key-medium {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin: 3px;
  padding: 10px;
}

.key-big {
  display: inline-block;
  width: 350px;
  height: 40px;
  margin: 3px;
  padding: 10px;
}

.key-languages {
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 3px;
  padding: 10px;
} 

/* .clicked {
  background-color: #cccccc;
} */
